body{
  background-color: #282c34;
}

.App {
  text-align: center;
  margin: 20px;
}


input{
  padding: 10px;
  border-radius: 4px;
}

.employee-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 10px;
  border: 1px solid #ccc;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.page-link:hover {
  background-color: #e9ecef;
}

.titulo{
  color: #e9ecef;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}